.counter_app{
    width:100%;
    min-height:100vh;
    display: flex;
    color:white;
    background-color:rgb(16, 16, 16);
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.counter_app h1{
    font-size:48px;
}
.counter_app h2{
    font-size:24px;
    padding-bottom:10px;
}